<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Botones Agregar</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#" class="btn btn-primary btn-block" 
                           data-toggle="modal" data-target="#agregarViatico">
                            <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="botonesAgregarUsuario" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#" class="btn btn-primary btn-block" 
                           data-toggle="modal" data-target="#agregarUsuario">
                            <i class="fas fa-plus"></i> [[#{accion.agregarUsuario}]]
                        </a>
                    </div>
                </div>
            </div>
        </section>
        </section>
        <section th:fragment="botonesAgregarRelacion" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#" class="btn btn-primary btn-block" 
                           data-toggle="modal" data-target="#agregarRelacion">
                            <i class="fas fa-plus"></i> [[#{accion.agregarRelacion}]]
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="botonesAgregarProyecto" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#" class="btn btn-dark btn-block" 
                           data-toggle="modal" data-target="#agregarProyecto">
                            <i class="fas fa-plus"></i> [[#{accion.agregarProyecto}]]
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>

